@media only screen and (min-width: 1000px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1440px;
    margin: auto;
  }

  #card {
    flex-direction: row-reverse;
    width: 70%;
    margin: 0px;
  }
  picture {
    width: 50%;
    /* height: 416.263px; */
    /* min-height: 372.362px; */
  }

  picture > img {
    width: 100%;
  }

  #info-box {
    padding: 2rem 3rem;
    position: relative;
    text-align: left;
    width: 50%;
    /* line-height: 150%; */
  }

  #highlights {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    /* text-align: center; */
  }

  #highlights > div {
    width: 100%;
    text-align: left;
  }

  .attribution {
    position: fixed;
    bottom: 0;
    left: auto;
    width: 100%;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  /* picture {
    min-height: 496.038px;
  } */
  #card {
    width: 75%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
  #card {
    width: 80%;
  }
  #info-box {
    padding: 1.5rem 2.5rem;
  }
  #highlights {
    bottom: 1.5rem;
  }
}
