/* main {
}

footer {
} */

#card {
  display: flex;
  flex-direction: column;
  border-radius: 12px / 10px;
  /* border: white solid 2px; */
  margin-top: clamp(70px, 20%, 400px);
  margin-left: clamp(10px, 5%, 50px);
  margin-right: clamp(10px, 5%, 50px);
  margin-bottom: clamp(70px, 20%, 400px);
  overflow: hidden;
  background-color: hsl(244, 38%, 16%);
}

#info-box {
  padding: 0.7rem 2.2rem 1.4rem 2.2rem;
  text-align: center;
  /* line-height: 150%; */
}

#info-box > h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

#info-box > p {
  line-height: 180%;
}

#purple {
  color: hsl(277, 64%, 61%);
}

/* #image-overlay { */
/* position: relative; */
/* height: 300px; */
/* background-color: hsl(277, 64%, 61%);
  z-index: 9;
  width: 100%;
} */

picture {
  width: 100%;
  display: flex;
}

picture > img {
  width: 100%;

  /* opacity: 0.2; */
  /* filter: invert(25%) sepia(85%) saturate(3087%) hue-rotate(244deg)
    brightness(81%) contrast(97%); */
  filter: invert(15%) sepia(52%) saturate(878%) hue-rotate(235deg)
    brightness(61%) contrast(88%);
  /* max-height: 30vh; */
  /* filter: invert(8%) sepia(11%) saturate(6802%) hue-rotate(219deg)
    brightness(102%) contrast(95%); */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  /* display: flex;
  flex-direction: column; */
  color: hsl(228, 45%, 44%);
}

#highlights {
  display: flex;
  flex-direction: column;
  text-align: center;
}

p > span {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  margin-bottom: 7px;
  /* color: hsla(0, 0%, 100%, 0.6); */
}
